
.BalancesPanel {
  width: 46%;
  margin: 2%;
  height: 250px;
  display: inline-block;
  box-shadow: rgba(0,0,0,0.5) 1px 1px 8px -4px, rgba(0,0,0,0.5) 1px 1px 4px -4px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: white;
  vertical-align: top;
}


.light {
  font-weight: 100;
}